{% extends "base.html" %}
{% block content %}
    <div class="container">
        {% for i in actions %}
        <h4 class="action-num">Action #{{loop.index}}</h4>
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th>Title</th>
                    <th>Team leader</th>
                    <th>Duration</th>
                    <th>Colaborators</th>
                    <th>Is finished</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{i.job}}</th>
                    <th>{{i.user.name}} {{i.user.surname}}</th>
                    <th>{{i.work_size}}</th>
                    <th>{{i.collaborators}}</th>
                    {% if i.is_finished %}
                        <th class="is-not-finished">{{i.is_finished}}</th>
                    {% else %}
                        <th class="is-finished">{{i.is_finished}}</th>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
    <style>
        .container {
            width: 80%;
        }

        .action-num {
            margin-left: 25px;
            margin-top: 25px;
        }

        table {
            margin: 50px 0;
        }

        tbody {
            background-color: #997766;
        }

        .is-finished {
            background-color: #992233;
        }

        .is-not-finished {
            background-color: #999933;
        }
    </style>
{% endblock %}